{% liquid
  if settings.wishlist_page != blank
    assign url = pages[settings.wishlist_page].url
  else
    assign url = '/pages/wishlist'
  endif

  assign wishlist_app = settings.wishlist_app

  # Get icon customization settings
  assign wishlist_icon_type = section.settings.wishlist_icon_type | default: 'default'
  assign wishlist_icon_size_override = section.settings.wishlist_icon_size_override | default: false
  assign wishlist_icon_size = section.settings.wishlist_icon_size | default: 24
  assign header_icon_size = section.settings.header_icon_size | default: 24
  assign header_icon_weight = section.settings.header_icon_weight | default: '2'
  assign wishlist_icon_svg = section.settings.wishlist_icon_svg

  # Determine final icon size
  if wishlist_icon_size_override
    assign final_icon_size = wishlist_icon_size
  else
    assign final_icon_size = header_icon_size
  endif

  # Build icon classes and styles
  assign icon_classes = 'm-svg-icon--custom'
  assign icon_style = 'width: ' | append: final_icon_size | append: 'px; height: ' | append: final_icon_size | append: 'px; stroke-width: ' | append: header_icon_weight | append: ';'
%}

{% if wishlist_app == 'growave' %}
  {% if shop.customer_accounts_enabled %}
    {% liquid
      assign ssw_fave_enabled = 1
      if shop.metafields.ssw.fave_enabled
        assign ssw_fave_enabled = shop.metafields.ssw.fave_enabled | plus: 0
      endif
    %}
    {% if ssw_fave_enabled == 1 %}
      <a
        class="ssw-link-fave-menu ssw-link-fave-menu-hide-count"
        href="{{ url }}"
        aria-label="{{ shop.metafields.ssw.lang.my_faves }}"
      >
        <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
          {% render 'wishlist-icon', icon_size: final_icon_size, wishlist_icon_type_param: wishlist_icon_type, icon_classes: icon_classes %}
          <span class="m-tooltip__content">{{ 'layout.wishlist.title' | t }}</span>
        </span>
        <span class="ssw-counter-fave-menu m-wishlist-count" style="display:none">0</span>
      </a>
      <script defer>
        var sswFaveCounterMenuLoaded = true;
      </script>
    {% endif %}
  {% endif %}
{% else %}
  <a
    href="{{ url }}"
    class="m-header__wishlist{% if box_size != blank %} {{ box_size }}{% endif %}"
    aria-label="{{ 'layout.wishlist.title' | t }}"
  >
    {% if display_by == 'icon' %}
      <span class="m-tooltip m:block m-tooltip--bottom m-tooltip--style-2">
        {% render 'wishlist-icon', icon_size: final_icon_size, wishlist_icon_type_param: wishlist_icon_type, icon_classes: icon_classes %}
        <span class="m-tooltip__content">{{ 'layout.wishlist.title' | t }}</span>
      </span>
    {% else %}
      {{ 'layout.wishlist.title' | t }}
    {% endif %}
    <sup class="m-wishlist-count m:hidden"></sup>
  </a>
{% endif %}
